@media screen and  (max-width:892px) {
    .my_container{
        width: 90%;
        margin: auto;
    }
    .head_foot_container{
        width: 100%;
    }
    .button{
        width: 100% !important;
        display: flex;
    }
    .app .button a:last-child{
        margin-left: 5px;
    }
    .scan-img{
        width: 100% !important;
    }
    .col-12{
        margin: 10px 0px !important;
    }
    .buttons a{
        margin-top: 10px ;
        margin-left: 1px;
        display: inline-block;
    }
    .button a {
        margin-top: 5px;
        display: inline-block;
    }
    header .input_boxes i{
        /* display: none; */
        font-size: 11px !important;
        margin-left: 5px;
    }
    header .input_boxes input{
        font-size: 10px!important;
        width: 80% !important;
       
    }
    header .desktop{
        display: none !important;
    }
    header .browse{
    display: none;
    }
    header .nav_items_box{
       width: 200px !important;
       height: 100vh;
       position: fixed;
       z-index: 10;
       right: -280px;
       top: 0;
    }
    header .user{
        display: none !important;
    }
    .chicango .categories p {
       font-size: 12px !important;
       text-align: center;
    }
    .chicango  .box3 .col-12 {
       margin: 0 !important;
    }
    #mobile_login .buttons {
        margin: 10px 0;
    }
    .first_ele h3 i{
        display: none;
    }
    #mobile_login .buttons a{
      display: block !important;
      font-size: 14px !important;
      font-weight: normal !important;
    }
    
    .Coupons .card_box .hover-box{
        flex-direction: column;
        width: 100%;
    }
    .Coupons .col-12.col-md-3{
     padding:  0 !important;
     margin: 0px 5px !important;
     width: 230px !important;
    }
    footer .col-12,  footer, .category .col-12, .category .my_container{
        padding: 0;
        margin: 0 !important;
        width: 100%;
    }
    .category ul.accordion-list li{
        border: none;
        border-top: 1px solid #eee !important;
        margin: 0 !important;
        padding: 15px 20px;
    }
    .category ul.accordion-list  h6{
        font-size: 14px !important;
    }
    .Coupons .my_container{
        width: 100% !important;
    }
    .Coupons .my_container .card_row{
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .Coupons .my_container{
        border: none !important;
    }
    .button.detail a{
        display: block;
    }
    .br{
        display: none;
    }
    .accordion-button:not(.collapsed), .accordion-button {
        border-bottom: 1px solid #000 !important;
    }
    .accordion-button{
        margin: 0 !important;
    }
    .accordion-button, .accordion-body {
        background-color: none !important;
        padding:5px 10px !important;
    }
    .accordion-button:focus{
        border-bottom: 1px solid #000 !important;
        box-shadow:  none !important;
    }
    br{
        display: none !important;
    }
}

.accordion-button h6{
    color: #000 !important;
}
/* .accordion-button:not(.collapsed), .accordion-item, .accordion-button:focus{
    box-shadow:  none !important;
    border: none !important;
} */
@media screen and  (min-width:892px){
    .accordion-button:not(.collapsed), .accordion-item, .accordion-button:focus{
        background: none !important;
        box-shadow:  none !important;
        border: none !important;
        cursor: auto !important;
    }
    .accordion-button, .accordion-body {
        background-color: none !important;
        padding: 0 !important;
    }
  
}